@font-face {
    font-family: 'MyFont';
    src: url('./IslandMoments-Regular.ttf') format('truetype'),
      url('./MoonDance-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./icon.png');
  }
